[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
"albert-base-v1" = ''
"albert-base-v2" = ''
"albert-large-v1" = ''
"albert-large-v2" = ''
"albert-xlarge-v1" = ''
"albert-xlarge-v2" = ''
"albert-xxlarge-v1" = ''
"bert-base-cased-finetuned-mrpc" = ''
"albert-xxlarge-v2" = ''
"bert-base-cased" = ''

[dev-packages]
nose = '*'
unittest2 = {version = ">=1.0,<3.0", markers="python_version < '2.7.9' or (python_version >= '3.0' and python_version < '3.4')"}
