[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
"xlm-roberta-large" = ''
"xlnet-base-cased" = ''
"xlnet-large-cased" = ''
"007J/smile" = ''
"0307061430/xuangou" = ''
"09panesara/distilbert-base-uncased-finetuned-cola" = ''
"0x7194633/keyt5-base" = ''
"0x7194633/keyt5-large" = ''
"0xDEADBEA7/DialoGPT-small-rick" = ''
"123123/ghfk" = ''

[dev-packages]
nose = '*'
unittest2 = {version = ">=1.0,<3.0", markers="python_version < '2.7.9' or (python_version >= '3.0' and python_version < '3.4')"}

