[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
"xlm-roberta-large" = ''
"xlnet-base-cased" = ''
"Aurora/community.afpglobal" = ''
"AvatarXD/DialoGPT-medium-Blitzo" = ''
"Augustvember/wokkabottest2" = ''
"Aviora/news2vec" = ''
"Augustvember/wokka4" = ''
"Augustvember/wokka2" = ''
"Augustvember/wokka" = ''
"123123/ghfk" = ''

[dev-packages]
nose = '*'
unittest2 = {version = ">=1.0,<3.0", markers="python_version < '2.7.9' or (python_version >= '3.0' and python_version < '3.4')"}

